@import 'tailwindcss';

/* Light mode values */
:root {
  --background: #ffffff;
  --foreground: #171717;
}

/* Dark mode values applied when data-theme="dark" is set */
:root[data-theme='dark'] {
  --background: #0a0a0a;
  --foreground: #ededed;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  transition: background 0.2s linear, color 0.2s linear;
}
